<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body class="dashboard-body">
    <nav class="sidebar-container">
        <div class="sidebar-logo">PayrollPro</div>
        <ul class="sidebar-menu">
            <a class="menu-item" href="/">Dashboard</a>
            <a class="menu-item" href="Employees">Employees</a>
            <a class="menu-item" href="Shifts">Shifts</a>
            <a class="menu-item">Payroll Run</a>
            <a class="menu-item">Settings</a>
        </ul>
    </nav>
    <main class="main-content">
        <header class="top-bar">
            <h1 class="page-title">Employee Management</h1>
            <div class="user-profile">Admin User</div>
        </header>

        <section class="form-container">
            <h2 class="form-heading">Register New Employee</h2>
            <form class="employee-form" th:action="@{/api/employees/addEmployee}" th:object="${empform}" method="post">
                <div class="form-group">
                    <label class="input-label">Employee ID</label>
                    <input type="number" th:field="*{employeeId}" class="form-input" required>
                </div>
                <div class="form-group">
                    <label class="input-label">EmployeeType</label>
                    <select th:field="*{type}" class="form-input" id="typeSelector" onchange="changeForm()">
                        <option value="" disabled selected>Select an Employee Type</option>
                        <option value="No Type">No Type</option>
                        <option value="Full-Time">Full Time</option>
                        <option value="Part-Time">Part Time</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-label">First Name</label>
                    <input type="text" th:field="*{firstName}" class="form-input" required>
                </div>
                <div class="form-group">
                    <label class="input-label">Last Name</label>
                    <input type="text" th:field="*{lastName}" class="form-input" required>
                </div>
                <div class="form-group">
                    <label class="input-label">Base Salary</label>
                    <input type="number" step="0.01" th:field="*{baseSalary}" class="form-input" required>
                </div>
                <div class="form-group" id="bonusGroup">
                    <label class="input-label">Annual Bonus</label>
                    <input type="number" id="bonusInput" step="0.01" max="1" min="0" th:field="*{annualBonus}" class="form-input" required>
                </div>
                <div class="form-group" id="hourlyGroup">
                    <label class="input-label">Hourly Rate</label>
                    <input type="number" id="hourlyInput" step="10" th:field="*{hourlyRate}" class="form-input" required>
                </div>

                
                <div class="form-group">
                    <label class="input-label">Shift</label>
                    <select th:field="*{shiftID}" class="form-input"> 
                        <option value="0" disabled selected>Select a shift</option>
                        <option th:each="shift : ${shiftList}" 
                                th:value="${shift.getShiftID()}" 
                                th:text="${shift.getShiftName()} + ' (' +${shift.getStartTime()} + ' - ' +${shift.getEndTime() + ')'}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-label">Bank Name</label>
                    <input type="text" th:field="*{bankName}" class="form-input" required>
                </div>
                
                <div class="form-group">
                    <label class="input-label">Bank Number</label>
                    <input type="number" th:field="*{bankNumber}" class="form-input" required>
                </div>
                
                <div class="form-group">
                    <label class="input-label">IBAN</label>
                    <input type="text" th:field="*{iban}" class="form-input" required>
                </div>
                
                <div class="form-group">
                    <label class="input-label">SWIFT Code</label>
                    <input type="text" th:field="*{swift}" class="form-input" required>
                </div>
                <button type="submit" class="submit-button">Save Employee Record</button>
            </form>
        </section>

        <script>
            const hourlyGroup = document.getElementById("hourlyGroup");
            const bonusGroup = document.getElementById("bonusGroup");

            const hourlyInput= document.getElementById("hourlyInput");
            const bonusInput = document.getElementById("bonusGroup");

            const typeSelector = document.getElementById("typeSelector");
            function changeForm()
            {
                if(typeSelector.value == "No Type")
                {
                    bonusGroup.style.display = "none";
                    hourlyGroup.style.display = "none";

                    bonusInput.required = false;
                    hourlyInput.required = false;
                }
                else if(typeSelector.value == "Full-Time")
                {
                    bonusGroup.style.display = "flex";
                    hourlyGroup.style.display = "none";
                    
                    bonusInput.required = true;
                    hourlyInput.required = false;
                }
                else
                {
                    bonusGroup.style.display = "none";
                    hourlyGroup.style.display = "flex";

                    bonusInput.required = false;
                    hourlyInput.required = true;
                }
            }
        </script>
        <section class="table-container">
            <h2 class="table-heading">Employee List</h2>
            <table class="payroll-table">
                <thead>
                    <tr>
                        <th class="table-header">Employee Name</th>
                        <th class="table-header">Type</th>
                        <th class="table-header">Base Salary</th>
                        <th class="table-header">Final Salary</th>
                        <th class="table-header">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emp : ${empList}">
                        <td class="table-cell" th:text="${emp.getFirstName() + ' ' + emp.getLastName()}">John Doe</td>
                        <td class="table-cell" th:text="${emp.getType()}">Type</td>
                        <td class="table-cell" th:text="'$' +${emp.getBaseSalary()}">$2000</td>
                        
                        <td class="table-cell" th:text="'$' + ${emp.calculatePay()}">$5,500.00</td>
                        
                        <td class="table-cell">
                            <a class="remove-button" th:href="@{/api/employees/removeEmployee/{id}(id=${emp.getEmployeeId()})}">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>